{:paths ["src" "test"]
 :deps {
        ;; kotoba.io replaced clojure.java.io here (2026-09-24). An explicit floor:
        ;; kotoba.io carries clojure.java.io's file/as-file/as-relative-path/
        ;; make-parents/delete-file from 98045c7, and tools.deps takes the NEWEST
        ;; sha it is shown.
        io.github.kotoba-lang/io {:git/sha "72dde04b4c32854d70d17a670b277f8f7957a784"}
        ;; kotoba.lang.coll replaced clojure.set here (2026-09-24). An explicit
        ;; floor: kotoba.lang.coll carries clojure.set's union/intersection/
        ;; difference/map-invert from 0ffd5f6, and tools.deps takes the NEWEST
        ;; sha it is shown.
        io.github.kotoba-lang/coll {:git/sha "f74e248f0a07e8ae572885f50fab6bdb39dc24be"}
        kotoba-lang/kotoba-datom
        {:git/url "https://github.com/kotoba-lang/kotoba-datom.git"
         :git/sha "65189be44e3753f7a997faadab160ba60720737c"}
        kotoba-lang/edn
        {:git/url "https://github.com/kotoba-lang/edn.git"
         :git/sha "250f4dafa5f5c7fb3109703496a52866e2a62dcd"}}}
