{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/etzhayyim/ie_flow/boundary.cljk" ".cljc"
  "src/etzhayyim/ie_flow/colony.cljk" ".cljc"
  "src/etzhayyim/ie_flow/control.cljk" ".cljc"
  "src/etzhayyim/ie_flow/coscientist.cljk" ".cljc"
  "src/etzhayyim/ie_flow/dynamics.cljk" ".cljc"
  "src/etzhayyim/ie_flow/embed.cljk" ".cljc"
  "src/etzhayyim/ie_flow/gate_adapter.cljk" ".cljc"
  "src/etzhayyim/ie_flow/ingest.cljk" ".cljc"
  "src/etzhayyim/ie_flow/ledger.cljk" ".cljc"
  "src/etzhayyim/ie_flow/lifecycle.cljk" ".cljc"
  "src/etzhayyim/ie_flow/metrics.cljk" ".cljc"
  "src/etzhayyim/ie_flow/organism.cljk" ".cljc"
  "src/etzhayyim/ie_flow/react.cljk" ".cljc"
  "src/etzhayyim/ie_flow/reward.cljk" ".cljc"
  "src/etzhayyim/ie_flow/score.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_boundary.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_colony.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_control.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_coscientist.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_dynamics.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_embed.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_gate_adapter.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_ledger.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_lifecycle.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_metrics.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_metrics_properties.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_react.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_reward.cljk" ".cljc"
  "test/etzhayyim/ie_flow/test_score.cljk" ".cljc"}}
