{:paths ["src"]
 :deps {
        io.github.kotoba-lang/json {:git/sha "4c55a247b020bfb1c7b5b09f9df8f3fa5601a207"}kotoba-lang/kotoba-datom
        {:git/url "https://github.com/kotoba-lang/kotoba-datom.git"
         :git/sha "65189be44e3753f7a997faadab160ba60720737c"}
}
 :aliases {:test {:extra-paths ["test"]}}}
